<div class="menu_burger">
    <div class="menu_burger_item"></div>
</div>

<nav class="sidebar-container">

    <div class="sidebar">
        <div class="group">
            <div class="group-title">
                <h2 id="group-2">
                    <a href="/"><img src="images/home.png" alt="" srcset=""></a>
                </h2>
                <svg class="item-title__icon">
                    <use xlink:href="images/solid.svg#user-tie"></use>
                </svg>
            </div>

        </div>

        <ul class="outer">
            <li>
                <div class="item-title">
                    <a href="/factorial&fibonacci">Factorial & Fibonacci</a>
                </div>
            </li>


            <li>
                <div class="item-title">
                    <a href="/stacks">Stacks</a>
                </div>
            <li>
                <div class="item-title">
                    <a href="/queues">Queues</a>
                </div>
            <li>
                <div class="item-title">
                    <a href="/linkedlists">Linked List</a>
                </div>
            </li>
            <li>
                <div class="item-title">
                    <a href="/tower">Tower Of Hanoi</a>
                </div>
            </li>
        </ul>
    </div>
</nav>