<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/styles.css">
    <title>{{title}}</title>
    <style rel="stylesheet" src="/styles/footer.css"></style>
</head>

<body>
    <div class="container">
        {{> sidebar}}
        <main class="main">
            <div class="hero">
                <h1>
                    Data Structures and Algorithms CS2100
                </h1>
            </div>
            {{{body}}}
        </main>
        <footer class="footer">
        </footer>
    </div>

    <script src="js/code/Queue/Queues.js"></script>
    <script src="js/code/Stack/Stack.js"></script>
    <script src="js/code/LinkedList/LinkedLists.js"></script>
    <script src="js/code/Fibonacci/Fibonacci.js"></script>
    <script src="js/code/Factorial/Factorial.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/tower.js"></script>
    <script src="js/index.js"></script>
</body>

</html>