<h2 class="heading-2">Factorial and Fibonacci </h2>

<section id="section-factorial">
    <h4 class="heading-4">Factorial</h4>
    <p>Enter the value whose factorial is needed:</p>
    <div class="input-container">
        <input type="text" placeholder="" id="input-factorial" />
        <button class="btn btn-run" id="run-factorial"><span>Run</span>
            <span>
                <svg class="item-title__icon">
                    <use xlink:href="images/solid.svg#arrow-right"></use>
                </svg>
            </span>
        </button>
    </div>
    <div class="output" id="output-factorial">
    </div>
</section>

<section id="section-fibonacci">
    <h4 class="heading-4">Fibonacci</h4>
    <p>The fibonacci algorithm used is recursive memoized and so runs in linear time unlike the naive one which runs in
        exponential time</p><br>

    <p>Enter the value whose fibonacci is needed:</p>
    <div class="input-container">
        <input type="text" placeholder="" id="input-fibonacci" />
        <button class="btn btn-run" id="run-fibonacci"><span>Run</span>
            <span>
                <svg class="item-title__icon">
                    <use xlink:href="images/solid.svg#arrow-right"></use>
                </svg>
            </span>
        </button>
    </div>
    <div class="output" id="output-fibonacci">
        <span>Output: </span>
    </div>
</section>