<h2 class="heading-4">Data structures And Algorithms</h2>
<h3>Data Structure is a way to store and organize data so that it can be used efficiently.</h3>

<div class="code-container">
    <p>The data structure name indicates itself that organizing the data in memory. There are many ways of organizing
        the
        data in the memory as we have already seen one of the data structures, i.e., array in C language.</p>
    An Array is a collection of memory elements in which data is stored sequentially, i.e., one after another. In other
    words, we can
    say that array stores the elements in a continuous manner. This organization of data is done with the help of an
    array of data structures. There are also other ways to organize the data in memory. Let's see the different types of
    data structures.

    The data structure is not any programming language like C, C++, java, etc. It is a set of algorithms that we can use
    in any programming language to structure the data in the memory.

    To structure the data in memory, 'n' number of algorithms were proposed, and all these algorithms are known as
    Abstract data types. These abstract data types are the set of rules.
</div>

<h2>DS Algorithm</h2>
<h2>What is an Algorithm?</h2>
<div class="algorithms">
    <div class="text">
        An algorithm is a process or a set of rules required to perform calculations or some other problem-solving
        operations especially by a computer. The formal definition of an algorithm is that it contains the finite set of
        instructions which are being carried in a specific order to perform the specific task. It is not the complete
        program or code; it is just a solution (logic) of a problem, which can be represented either as an informal
        description using a Flowchart or Pseudocode.
    </div>
</div>
<br>
<div class="members">
    <div class="ian">BALIJAWA IAN 1900700123</div>
    <div class="sharif">KABANDA SHARIF ISMAIL 1900716463</div>
    <div class="collins">MUMBERE COLLINS 1900716965</div>
    <div class="tim">JJUUKO TIMOTHY 1900716453</div>
    <div class="mark">WONIALA MARK 217011278</div>
</div>