<h2 class="heading-2">Stacks</h2>

<h4 class="heading-4">What is a Stack</h4>
<p>A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle</p>

<h4 class="heading-4 operation">Stack operations</h4>

<section id="section-stacks">
    <h5 class="heading-5">Stack(size): </h5>
    <p>This is to construct a new stack passing the size expected</p>
    <p><strong>Example</strong></p>
    <div class="code-container">
        const stack = new Stack(10);
    </div>
    <p>Enter the size of the stack to create:</p>
    <div class="input-container">
        <input type="text" placeholder="" id="input-create-stack" />
        <button class="btn btn-run" id="run-create-stack"><span>Create Stack</span>
            <span>
                <svg class="item-title__icon">
                    <use xlink:href="images/solid.svg#arrow-right"></use>
                </svg>
            </span>
        </button>
    </div>
    <div class="output" id="output-create-stack"></div>
</section>

<section id="section-push">
    <h5 class="heading-5">Push(element):</h5>
    <p>Adds element to the top of the stack and return nothing</p>
    <p>Enter the value to push on top: </p>
    <div class="input-container">
        <input type="text" placeholder="" id="input-push" />
        <button class="btn btn-run" id="run-push"><span>Run</span>
            <span>
                <svg class="item-title__icon">
                    <use xlink:href="images/solid.svg#arrow-right"></use>
                </svg>
            </span>
        </button>
    </div>
    <div class="output" id="output-push">
    </div>
</section>

<section id="section-pop">
    <h5 class="heading-5">Pop():</h5>
    <p>Remove the top-most element on the stack</p>
    <div class="input-container">
        <button class="btn btn-run" id="run-pop"><span>Pop</span>
            <span>
                <svg class="item-title__icon">
                    <use xlink:href="images/solid.svg#arrow-right"></use>
                </svg>
            </span>
        </button>
    </div>
    <div class="output" id="output-pop">
    </div>
</section>

<section id="section-peek">
    <h5 class="heading-5">Peek():</h5>
    <p>Return the top-most element on the stack</p>
    <div class="input-container">
        <button class="btn btn-run" id="run-peek"><span>Peek</span>
            <span>
                <svg class="item-title__icon">
                    <use xlink:href="images/solid.svg#arrow-right"></use>
                </svg>
            </span>
        </button>
    </div>
    <div class="output" id="output-peek">
    </div>
</section>