<div class="container-towers">
	<header>
		<h2>Towers of Hanoi implementation</h2>
		<div class="moves">MOVES: 0</div>
	</header>

	{{!-- <div class="grid-container">
	</div> --}}

	<div class="container-tower">
		<div class="col c1">
			<div class="tower"></div>
		</div>
		<div class="col c2">
			<div class="tower"></div>
		</div>
		<div class="col c3">
			<div class="tower"></div>
		</div>
	</div>
	<div class="towers">
		<ul>
			<li>Source</li>
			<li>Auxillary</li>
			<li>Destination</li>
		</ul>
	</div>

	<div class="btn-play">
		<a href="#" id="levelButton" class="btn increment">Increment Discs</a>
		<a id="reset" class="btn-center play " href="#">PLAY/RESTART</a>
	</div>
</div>